<div class="contents row">
  <% @tweets.each do |tweet| %>
    <div class="content_post">
      <p><%= tweet.impressions %></p>
      <span class="name">
        <%= tweet.name %>
      </span>
    </div>
  <% end %>
</div>