/* ヘッダー */
body{
  margin: 0 auto;
}

header {
  background-color: #dddddddd;
  display: flex;
  justify-content: space-between;
}

.heading {
  width: 50%;
  margin-left: 30px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.heading a{
  color: #00a5dd;
}

.navbar {
  width: 50%;
  padding: 20px;
}

.nav-lists{
  display: flex;
  justify-content: space-around;
}

.nav-lists a{
  color: black;
}


.nav-lists li {
  list-style: none;
}


.search-form{
  background-color:#eaf6fd;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.search-input {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.search-btn {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.lists{
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
  margin-top: 6%;
  margin-bottom: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.list{
  border: 1px solid black;
}


.image1{
  display: flex;
  justify-content: center;
}

.image2{
  max-width: 100%;
  top: 50%;
  left: 50%;
}

.tweet-name{
  text-align: center;
  color: black;
}

.edit-list{
  background-color: #dbedf0;
}

.edit-form{
  text-align: center;
}

.edit-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box{
  width: 500px;
  height: 50px;
}

.box2{
  width: 500px;
  height: 100px;
}

.genre-select{
  height: 50px;
  width: 300px;
}

.send{
  width: 200px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid white;
  background-color: #38AEF0;
  color:white;
  display: block;
}

.show-list{
  background-color: #dbedf0;
}

.show-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.edit-delete{
  display: flex;
  justify-content: center;
  color: blue;
}

.comment{
  margin-top: 50px;
  text-align: center;
}

.nickname{
  color: red;
}

.contents-row{}

.success{}

footer {
  margin: 30px auto;
  padding: 10px;
  color: #D8D8D8;
}

footer p {
  text-align: center;
}
