/* ヘッダー */
body{
  margin: 0 auto;
}

header {
  background-color: #fcc9ac;
  display: flex;
  justify-content: space-between;
}

.heading {
  width: 50%;
  margin-left: 30px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.title{
  text-shadow: 1px 1px 2px silver;
  font-family: 'Akaya Telivigala', cursive;
}

.heading a{
  color: #305089;
}

.navbar {
  width: 50%;
  padding: 20px;
}

.nav-lists{
  display: flex;
  justify-content: space-around;
}

.nav-lists a{
  color: #5b5846;
  text-shadow: 1px 1px 2px silver;
}


.nav-lists li {
  list-style: none;
}


.search-form{
  background-color:#eaf6fd;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.search-input {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.search-btn {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.contents-row{
  background-color: #e6f0f0;
}

.lists{
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
  margin-top: 6%;
  margin-right: 10px;
  margin-left: 10px;
  padding-bottom: 20px;
}

.list{
  border: 1px solid black;
  background-color: #f6efdb;
}


.image1{
  text-align: center;
  padding-top: 15px;
}

.image2{
  max-width: 100%;
  top: 50%;
  left: 50%;
}

.image3{
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.tweet-name{
  text-align: center;
  color: black;
}


.edit-list{
  background-color: #dbedf0;
}

.edit-form{
  text-align: center;
  margin-top: 0px;
}

.edit-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}

.box{
  width: 500px;
  height: 50px;
}

.box2{
  width: 500px;
  height: 100px;
}

.box3{
  width: 300px;
  height: 25px;
}

.genre-select{
  height: 50px;
  width: 300px;
}

.send{
  width: 200px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid white;
  background-color: #38AEF0;
  color:white;
  display: block;
}

.show-list{
  background-color: #dbedf0;
}

.show-content{
  text-align: center;
}

.edit-delete{
  display: flex;
  justify-content: center;
  color: blue;
}

.comment{
  margin-top: 0px;
  padding-top: 20px;
  text-align: center;
  background-color: #e6f0f0;
}

.nickname{
  color: #b6195d;
}

footer {
  margin-top: 30px auto;
  padding: 10px;
  background-color: #fffac2;
  color: #968d00;
}

footer p {
  text-align: center;
}

.user-show{
  display: flex;
  justify-content: space-around;
  background-color: #e6f0f0;
}

.user-shows{
  border: 1px solid black;
  margin-bottom: 30px;
  background-color: #f6efdb;
}

.search-lists{
  display: flex;
  justify-content: center;
}

.search-list{
  border: 1px solid black;
}

.field{
  width: 100px;
}

.remember{
  text-align: center;
  padding-top: 10px;
}

.update{
  width: 200px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid white;
  background-color: #38AEF0;
  color:white;
  display: block;
}

.account-delete{
  width: 200px;
  margin-left: 40px;
  padding: 15px;
  border: 1px solid white;
  background-color: red;
  color:white;
  display: block;
}

.user-edit{
  text-align: center;
  margin: 0 auto;
  padding-top: 15px;
}

.like{
  display: flex;
  justify-content: center;
}
